<div class="margin font_letter">
  <div class="open_close margin_reportes">
    <span class="name_section">Proveedores Montadores</span>
  </div>
    <br>
    <br>
    <!--1700-->
    <iframe width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=9b42c1ac-9ad0-466a-ac10-a5f990a6eecd&autoAuth=true&ctid=d71dbdcd-25ee-4a6c-a6c1-950024fbec9e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  








