<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>Cambiar contraseña</h2>
		</div>
		<div class="col-6 align-btn">
			<mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<span>La contraseña debe tener al menos 8 caracteres, debe tener al menos una letra en mayúscula y un número.</span>
		</div>
		<div class="col-12 mt-4">
			<span><b>{{data.email}} </b> </span>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 col-md-6">
			<mdb-form-control>
				<input required [(ngModel)]="data.password"   mdbInput type="password" (keyup)="validarPass()" id="password2" class="form-control" />
				<label mdbLabel class="form-label" for="password2">Contraseña</label>
			</mdb-form-control>
			<mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_password">{{hintMessen}}</mat-hint>
		</div>
		<div class="col-12 col-md-6">
			<mdb-form-control>
				<input required [(ngModel)]="password2"   mdbInput type="password" (keyup)="validarPass()" id="password2" class="form-control" />
				<label mdbLabel class="form-label" for="password2">Contraseña</label>
			</mdb-form-control>
			<mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_password2">{{hintMessen2}}</mat-hint>
		</div>
	</div>
	<br>
	<div class="col-12 align-btn">
		<button  style="background: #1F4C7A;" [disabled]="btnDisables == true" (click)="save()" type="button" class="btn btn-primary btn-rounded mobile-btn">Guardar</button>					
	</div>
</div>