.altura{
    height: 80px;
    display: flex;
}

.align_avatar{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
    flex-basis: 50%;
}

.align{
    margin-top: 2%;
    flex-basis: 50%;
}

.div_opciones{
    padding: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cursor{
    cursor: pointer !important;
}

.hr{
    padding: 0;
    margin: 0;
}