<div class="margin font_letter">
  <div class="open_close margin_reportes">
    <span class="name_section">Informes financieros por proyectos  generales</span>
  </div>
  <br>
  <br>
  <!--2400-->
  <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a48816fd-e1bd-4de2-9940-01898f21ce8c&autoAuth=true&ctid=d71dbdcd-25ee-4a6c-a6c1-950024fbec9e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>


