<div class="margin">
  <div class="open_close">
    <button mat-button id="menu">
      <mat-icon class="color_icon" id="menu">menu</mat-icon>
    </button>
    <span>Informes financieros por proyectos  generales</span>
  </div>
  <br>
  <br>
  <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=75093416-95db-438e-b59c-397c8358bf05&autoAuth=true&ctid=e2c4d375-4ffa-4a6e-a576-17b20c2085d2&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>


