<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title bg">
                <span class="login100-form-title-1">

                </span>
            </div>

            <!---------------------TABS ANGULAR MATERIAL ------------------------->
            <mat-tab-group [selectedIndex]="selectedIndex" class="login_tabs">

                <mat-tab label="First">
                    <form class="login100-form validate-form">
                        <div class="wrap-input100 validate-input m-b-26 flex" data-validate="Username is required">
                            <input class="input100" type="text" name="username" placeholder="Username">
                            <mat-icon class="icon-top">account_circle</mat-icon>
                            <span class="focus-input100"></span>
                        </div>

                        <br>

                        <div class="wrap-input100 validate-input m-b-18 flex" data-validate="Password is required">
                            <input class="input100" type="{{type_input}}" name="pass" placeholder="Password">
                            <mat-icon *ngIf="!eyed" class="icon-top" (click)="changeType(true)">visibility</mat-icon>
                            <mat-icon *ngIf="eyed" class="icon-top" (click)="changeType(false)">visibility_off</mat-icon>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30 forgot">
                            <div (click)="selectTab(1)">
                                <a href="#" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" (click)="login()">
                                Login
                            </button>
                        </div>
                    </form>
                </mat-tab>



                <mat-tab label="Second">
                    <form class="login100-form validate-form">
                        <div class="wrap-input100 validate-input m-b-26 flex" data-validate="Username is required">
                            <input class="input100" type="text" name="username" placeholder="Username">
                            <mat-icon class="icon-top">account_circle</mat-icon>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30 forgot">
                            <div (click)="selectTab(0)">
                                <a href="#" class="txt1">
                                    Login
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Send
                            </button>
                        </div>
                    </form>
                </mat-tab>


            </mat-tab-group>
            <!---------------------ENDS TABS ANGULAR MATERIAL ------------------>
        </div>
    </div>
</div>