<div class="margin font_letter">
  <div [ngClass]="{'big': big, 'small': small}">
    <div *ngIf='menu' id="div_small" class="font_letter">

      <br>

      <mat-accordion class="menu_expansion" multi>
        <mat-expansion-panel class="bg_expansion menu_expansion">
          <mat-expansion-panel-header class="header_expansion">
            <mat-panel-title class="title_expansion font_letter menu_principal">
              Reportes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="title_expansion font_letter">
            <button mat-button [routerLink]="['/home/finanzas']" routerLinkActive="router-link-active"
              class="size top font_letter reportes">
              <mat-icon class="color_icon">attach_money</mat-icon>
              Informes financieros
            </button>
            <br>
            <button mat-button [routerLink]="['/home/proveedores']" routerLinkActive="router-link-active"
              class="size top font_letter reportes">
              <mat-icon class="color_icon">playlist_add_check_circle</mat-icon>
              Clasificación de proveedores
            </button>
            <br>
            <button mat-button [routerLink]="['/home/montadores']" routerLinkActive="router-link-active"
              class="size font_letter top reportes">
              <mat-icon class="color_icon">local_shipping</mat-icon>
              Montadores
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="menu_expansion" multi>
        <mat-expansion-panel class="bg_expansion menu_expansion">
          <mat-expansion-panel-header class="header_expansion">
            <mat-panel-title class="title_expansion font_letter menu_principal">
              Administrador
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="title_expansion">
            <button mat-button [routerLink]="['/home/usuarios']" routerLinkActive="router-link-active"
              class="size font_letter top reportes">
              <mat-icon class="color_icon">group</mat-icon>
              Usuarios
            </button>
            <br>
            <button mat-button [routerLink]="['/home/roles']" routerLinkActive="router-link-active"
              class="size font_letter top reportes">
              <mat-icon class="color_icon">verified_user</mat-icon>
              Roles & Permisos
            </button>
            <br>
            <button mat-button [routerLink]="['/home/Upload']" routerLinkActive="router-link-active"
              class="size font_letter top reportes">
              <mat-icon class="color_icon">content_copy</mat-icon>
              Carga témplate Excel
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>

    <div *ngIf='!menu' id="div_small" class="font_letter">
      <!--div class="align cursor" [routerLink]="['/home/dashboard']">
        <img src="./assets/img/logo-small.png" alt="" style="width: 60px" class="filter_white">
      </div>
      <hr-->
      <br>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="color_icon">description</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="bg_expansion">
        <button class="width_button font_letter" mat-button [routerLink]="['/home/finanzas']">
          Informes financieros
        </button>
        <hr class="hr_matMenu">
        <button class="width_button font_letter" mat-button [routerLink]="['/home/proveedores']">
          Clasificación de proveedores
        </button>
        <hr class="hr_matMenu">
        <button class="width_button font_letter" mat-button [routerLink]="['/home/montadores']">
          Montadores
        </button>
      </mat-menu>

      <br>

      <button mat-button [matMenuTriggerFor]="admin">
        <mat-icon class="color_icon">group</mat-icon>
      </button>

      <mat-menu #admin="matMenu" class="bg_expansion font_letter">
        <button mat-button [routerLink]="['/home/usuarios']" class="font_letter matMenu">
          Usuarios
        </button>
        <hr class="hr_matMenu">
        <button mat-button [routerLink]="['/home/roles']" class="font_letter matMenu">
          Roles & Permisos
        </button>
        <hr class="hr_matMenu">
        <button mat-button [routerLink]="['/home/Upload']" class="font_letter matMenu">
          Carga témplate Excel
        </button>
      </mat-menu>

    </div>

  </div>
</div>