.margin {
    margin: 21px 0px 10px 0px;
}

.align {
    text-align: center;
}

.top{
    margin-top: 10px;
}

.small {
    animation: rezise-small 2s;
}

.size_btn{
  width: 220px;
}

.img_width{
  width: 150px;
  background-position: center;
  background-size:auto;
}

.size{
    font-size: 11px;
    width: 100%;
    text-align: inherit;
}

.big {
    animation: rezise-big 2s;
}

@keyframes rezise-small {
    0% {
        width: 170px;
    }

    100% {
        width: 60px;
    }
}

@keyframes rezise-big {
    0% {
        width: 60px;
    }

    100% {
        width: 170px;
    }
}

@keyframes opa-big {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opa-small {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.filter_white{
    filter:  brightness(0) invert(1);
}

.cursor{
  cursor: pointer;
}

.color_icon{
  color: white;
  font-size: 20px;
}


.open_close{
    position: fixed;
    bottom: 20px;
}

hr{
   color: white;
}

.hr_matMenu{
    color: #1F4C7A;
    padding: 0;
    margin: 0;
}

.width_button{
  width: 100%;
  text-align: left;
}


.bg_expansion{
   background: #1F4C7A;
}

.title_expansion{
    color: white;
}

.header_expansion{
    padding: 17px;
    margin-right: 10px;
}
