.margin {
    margin: 50px 10px 10px 10px;
}

.align {
    text-align: center;
}

.top{
    margin-top: 10px;
}

.small {
    animation: rezise-small 2s;
}

.size_btn{
  width: 220px;
}

.img_width{
  width: 90px;
  background-position: center;
  background-size:auto;
}

.size{
    font-size: 12px;
    width: 100%;
    text-align: inherit;
}

.big {
    animation: rezise-big 2s;
}

@keyframes rezise-small {
    0% {
        width: 170px;
    }

    100% {
        width: 60px;
    }
}

@keyframes rezise-big {
    0% {
        width: 60px;
    }

    100% {
        width: 170px;
    }
}

@keyframes opa-big {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opa-small {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.color_icon{
  color: white;
  font-size: 20px;
}


.open_close{
    position: fixed;
    bottom: 20px;
}

hr{
   color: rgba(0,0,0,0.3);
}


.bg_expansion{
   background: #1F4C7A;
}

.title_expansion{
    color: white;
}

.header_expansion{
    padding: 17px;
    margin-right: 10px;
}
