<div class="margin  animate__delay-2s animate__animated animate__fadeInLeft font_letter margin_reportes">
   <span class="color_metalitec size_bienvenido size_bienvenido_font100">Bien</span><span class="color_metalitec size_bienvenido size_bienvenido_fontBold">venido </span><span class="size_bienvenido"> {{user.nombre}}</span>
</div>
<div class="container-fluid stylehome">
   <div class="row">
      <div class="col-12">
         <iframe width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c2cdc1fb-0231-4a18-bc1d-290c68130805&autoAuth=true&ctid=d71dbdcd-25ee-4a6c-a6c1-950024fbec9e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
   </div>
</div>
