<div class="margin  animate__delay-2s animate__animated animate__fadeInLeft font_letter">
   <span class="color_metalitec size_bienvenido size_bienvenido_font100">Bien</span><span class="color_metalitec size_bienvenido size_bienvenido_fontBold">venido </span><span class="size_bienvenido"> {{user.nombre}}</span>
</div>
<div class="container-fluid stylehome">
   <div class="row">
      <div class="col-12">
         <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=17141991-7fd7-480d-bcdd-639134a9e5e8&autoAuth=true&ctid=e2c4d375-4ffa-4a6e-a576-17b20c2085d2&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
   </div>
</div>
