.hola {
    font-size: 30px;

    &_border {
        display: inline-block;
        font-size: 1.75em;
        font-weight: lighter;
        padding: 0.5rem;
        padding-right: 1rem;
        border: 1px solid #1F4C7A
    }
}

.size_bienvenido {
    font-size: 36px;

    &_font100 {
        font-weight: 100;
    }

    &_fontBold {
        font-weight: bold;
    }
}
.stylehome{
    // margin-top: -25px;
}