/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.router-link-active {
    color: white !important;
    background-color: #2964a0;

    mat-icon {
        color: white !important;
    }
}

.login_tabs {
    mat-tab-header {
        display: none !important;
    }
}

.menu_expansion{
    .mat-expansion-panel{
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
    }

    .mat-expansion-indicator{
       color: white !important;
    }

    .mat-expansion-indicator::after{
        color: white !important;
    }
}

.menu_expansion_small{
    .mat-expansion-panel{
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
    }

    .mat-expansion-indicator{
        display: none !important;
    }

    .mat-expansion-indicator::after{
        display: none !important;
    }
}

.margin{
    margin: 2%;
}


.color_metalitec{
   color: #1F4C7A;
}

.cdk-overlay-pane{
    //border: 1px solid #1F4C7A;
}




@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
